body {
  background-color: #FAF9F9;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 16px;
}

h1 {
  font-family: 'Raleway', sans-serif;;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

h2 {
  font-family: 'Raleway', sans-serif;;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

h3 {
  font-family: 'Raleway', sans-serif;;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


a {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  color: darkgreen;
  transition: 0.7s;
}

.main-body-container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 60px;
}

.link {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.btn-purple {
  background-color: rebeccapurple;
  color: white;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-purple:hover {
  background-color: darkgreen;
  color: white;
  transition: 0.7s;
}

#introduction p {
  margin-bottom: 40px;
}